.container {
  display: flex;
}

.toolbox {
  width: 100px;
  background-color: #f2f2f2;
  padding: 10px;
  z-index: 1;
}

.toolbox-item {
  padding: 5px;
  margin-bottom: 5px;
  cursor: move;
}

.toolbox-item.vpc {
  border: 2px solid purple;
}

.toolbox-item.subnet {
  border: 2px solid green;
}

.toolbox-item.region {
  border: 2px solid gray;
}

.toolbox-item.ec2 {
  border: 2px solid gray;
  background-color: orange;
  color: white;
}

.drawing-area {
  flex: 1;
  min-height: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 10px;
  position: relative;
  z-index: 2;
}

.diagram {
  position: absolute;
  background-color: transparent;
  border: 1px solid #999;
  cursor: move;
  resize: both;
  overflow: auto;
  padding: 5px;
  min-width: 100px;
  min-height: 50px;
}

.diagram.vpc {
  border-color: purple;
}

.diagram.subnet {
  border-color: green;
}

.diagram.region {
  border-color: gray;
}

.diagram.ec2 {
  background-color: orange;
  border-color: gray;
  color: white;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  background-color: #999;
  cursor: se-resize;
}

.diagram[data-ec2-data] {
background-color: orange;
color: white;
}

.context-menu {
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
}

.context-menu label {
  display: block;
  margin-bottom: 5px;
}

.context-menu input {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
}

.context-menu button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-button {
  margin-top: 2%;
  padding: 0.5% 3% 0.5% 3%;
  text-align: center;
}